* {
    box-sizing: border-box;
    border-radius:3px;
}

body {
    background-color:white;
}

button {
    border:1px solid rgb(63, 62, 62);
}

aside img {
    width:200px;
    height:200px;
    margin-top:40px;
}

.upimg {
    width:720px;
    height:450px;
}

.header {
    margin-top:10px;
    background-color:white;
}

header {
    text-align: left;
    height:150px;
    font-size: 100px;
}

.main {
    min-width:1100px;
    min-height:1100px;
    margin:30px;
}

.btnwidth,button{
    width:25%;
}

ul li {
    width:280px;
    height:50px;
    text-align:center;
    padding-top:10px;
}

nav {
    margin:10px;
    opacity:1.0;
}

section {
    margin-top:10px;
    margin-right:10px;
}

.upsection {
    height:700px;
    background-color:rgb(241, 241, 240);
    border:1px solid rgb(63, 62, 62);
    padding:20px;
    text-align:center;
}

.downsection {
    height:400px;
    background-color:rgb(241, 241, 240);
    text-align:left;
    font-size:20px;
    border:1px solid rgb(63, 62, 62);
    padding:20px;
}

aside {
    height:1110px;
    margin-top:20px;
    margin-bottom:20px;
    background-color:white;
    border:1px solid rgb(63, 62, 62);
    padding-top:0px;
    text-align:center;
}

footer {
    text-align: center;
    height:200px;
    font-size:20px;
}